

.card {
    background-color: #FFEFD5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    margin: 20px auto;
    text-align: center;
    transition: transform 0.3s ease;
    color: rgb(24, 8, 8);
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  
  .title {
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 16px;
    margin-bottom: 10px;
    color: #1f1d1d; 
  }
  
  .button {
    background-color: #FFA07A;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #FF6347;
  }
  
  .button:active {
    background-color: #FF4500;
  }
  